.padding-left-small{
    padding-left: 5px;
}

.margin-left-small{
    margin-left: 25px;
}

.margin-left-smallest{
    margin-left: 15px;
}
.padding-right-small{
    padding-right: 5px;
}

.margin-bottom-small{
    margin-bottom: 10px;
}

.margin-bottom-smallest{
    margin-bottom: 5px;
}

.card-width{
    width: 12rem
}

.margin-top-small{
    margin-top: 25px;
}

.margin-top-large{
    margin-top: 75px;
}

.background-default{
    color:#fff !important; 
}

.background-color-atlanta{
    background-color:#43ded3 !important
} 

.background-color-chicago{    
    background-color:#8DD4f7 !important
} 

.background-color-dallas{
    background-color:#46e385 !important
} 

.background-color-dc{
    background-color:#84b7db !important
}

.background-color-houston{
    background-color: #0ea197!important
} 

.background-color-philadelphia{
    background-color:#0aa648 !important
} 

.background-color-losangeles{
    background-color:#229ad6 !important
} 

.background-color-sanfrancisco{
    background-color:#5e95db !important
} 
.background-color-seattle{
    background-color:#066391 !important
} 
.background-color-newyork{
    background-color:#376180 !important
} 


a {
    text-decoration: none !important;
}

.modal-opacity{
    opacity: 100 !important;
}
.filterDiv {
    
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  .btn-mid-width{
      width: 125px;
  }

  .dot {
    height: 30px;
    width: 45px;
    color:#fff;
    background-color: #666;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    
  }


  
  
