.padding-left-small{
    padding-left: 5px;
}

.margin-left-small{
    margin-left: 25px;
}

.padding-right-small{
    padding-right: 5px;
}

.card-width{
    width: 12rem
}

.margin-top-small{
    margin-top: 25px;
}

.background-default{
    color:#fff !important; 
}

.background-color-week{
    
    background-color:#2aa9db !important
} 

.background-color-month{    
    background-color:#69c2e6 !important
} 

.background-color-three-month{
    background-color:#b8e2f3 !important
} 

.background-color-six-month{
    background-color:#e7f5fb !important
}

.background-color-never{
    background-color:#f8fcfe !important
} 

a {
    text-decoration: none !important;
}