<div id="main" [ngClass]="modalVisible ? 'overlay' : ''">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">BRB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Connection Summaries <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Add Connection</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div id="myBtnContainer" class="margin-top-xsmall">
        <div class="row">
            <button class="btn active btn-mid-width margin-bottom-small" (click)="filterSelection('all')"> Show all</button>
            <button class="btn btn-mid-width margin-bottom-small" (click)="filterSelection('atl')">Atlanta</button>
            <button class="btn btn-mid-width margin-bottom-small" (click)="filterSelection('chi')">Chicago</button>
            <button class="btn btn-mid-width margin-bottom-small" (click)="filterSelection('dal')">Dallas</button>
            <button class="btn btn-mid-width margin-bottom-small" (click)="filterSelection('hou')">Houston</button>
            <button class="btn btn-mid-width margin-bottom-small" (click)="filterSelection('la')">Los Angeles</button>
            <button class="btn btn-mid-width margin-bottom-small" (click)="filterSelection('ny')">New York</button>
            <button class="btn btn-mid-width margin-bottom-small" (click)="filterSelection('phi')">Philadelphia</button>
            <button class="btn btn-mid-width margin-bottom-small" (click)="filterSelection('sf')">San Francisco</button>
            <button class="btn btn-mid-width margin-bottom-small" (click)="filterSelection('sea')">Seattle</button>
            <button class="btn btn-mid-width margin-bottom-small" (click)="filterSelection('dc')">Washington DC</button>
        </div>
    </div>

    <div class="row">
        <div class="row margin-left-xsmall">
            <div *ngFor="let connection of connections">
                <div *ngIf="connection.office=='Atlanta'">
                    <app-connection (selected)="selected($event)" [connection]="connection"></app-connection>
                </div>
                <div *ngIf="connection.office=='Chicago'">
                        <app-chi-connection (selected)="selected($event)" [connection]="connection"></app-chi-connection>
                    </div>
                    <div *ngIf="connection.office=='Dallas'">
                            <app-dal-connection (selected)="selected($event)" [connection]="connection"></app-dal-connection>
                        </div>
            
            </div>
        </div>
    </div>

    <app-modal [connection]="selectedConnection" *ngIf="selectedConnection != null" (toggleModal)="toggleModal()"
        (connectionSave)='onConnectionSave($event)'></app-modal>
</div>