.padding-left-small{
    padding-left: 5px;
}

.margin-left-small{
    margin-left: 25px;
}

.margin-left-smallest{
    margin-left: 15px;
}
.padding-right-small{
    padding-right: 5px;
}

.margin-bottom-small{
    margin-bottom: 10px;
}

.margin-bottom-smallest{
    margin-bottom: 5px;
}

.card-width{
    width: 12rem
}

.margin-top-small{
    margin-top: 25px;
}

.margin-top-large{
    margin-top: 75px;
}

.background-default{
    color:#fff !important; 
}

.background-color-atlanta{
    background-color:#43ded3 !important
} 

.background-color-chicago{    
    background-color:#8DD4f7 !important
} 

.background-color-dallas{
    background-color:#46e385 !important
} 

.background-color-dc{
    background-color:#84b7db !important
}

.background-color-houston{
    background-color: #0ea197!important
} 

.background-color-philadelphia{
    background-color:#0aa648 !important
} 

.background-color-losangeles{
    background-color:#229ad6 !important
} 

.background-color-sanfrancisco{
    background-color:#5e95db !important
} 
.background-color-seattle{
    background-color:#066391 !important
} 
.background-color-newyork{
    background-color:#376180 !important
} 


a {
    text-decoration: none !important;
}

.modal-opacity{
    opacity: 100 !important;
}
.filterDiv {
    
    display: none;
  }
  
.show {
    display: block;
}
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
    

  /* Style the buttons */
  
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  .btn-mid-width{
      width: 125px;
  }

  .dot {
    height: 30px;
    width: 45px;
    color:#fff;
    background-color: #666;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    
  }

  .hidden{
    display:none;
}
.show{
    display:block;
}

#modal-container {
    position:  fixed;
    top: 300px;
    left: 50%;
    width: 375px;
    background: white;
    margin-left: -187.5px;
    text-align: center;
    box-shadow: 0px 0px 2px 1px black;
    z-index: 100;
}

.overlay {
    position: absolute;
    top: 0px;
    left:  0px;
    z-index:  99999 !important;;
    background:  rgba(0,0,0,0.8) !important;;
    width:  100%;
    height: 100%;
}

.dropdown-select{
    height: 30px;
    width: 75px;
    color:#fff;
    background-color: rgb(59, 59, 59);
    border-radius: 15px;
    display: inline-block;
    text-align: center;
}


  
  
