<div class="filterDiv hou">
        <a href="#" data-toggle="modal" data-target="#myModal">
            <div id="connection.name" (click)="select()" class="card col-mx margin-left-small margin-top-small card-width background-color-houston">
                <div class="card-body">
                    <h5 class="card-title background-default"> {{connection.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"> {{connection.frequency}}</h6>
                </div>
            </div>
        </a>
    </div>