<!-- Modal -->
<div class="modal modal-opacity margin-top-large" style="display:block" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title text-left">Edit Connection</h4>
                <button type="button" (click)="toggle()" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-4 margin-left-smallest">
                            <label for="inputEmail4"><strong>Name</strong></label>
                            <input [ngModel] = "connection.name" value="Bob"  name="name" type="string" class="form-control form-control" id="inputEmail4" placeholder="">
                        </div>
                        <div class="form-group col-7 margin-left-small">
                            <label for="inputEmail"><strong>Email</strong></label>
                            <input [ngModel] = "connection.email" name="email"  type="string" class="form-control" id="inputEmail" placeholder="@parivedasolutions.com">

                        </div>
                    </div>
                    <div class="form-group col-12">
                        <label for="inputNotes"><strong>Notes</strong></label>
                        <textarea [ngModel] = "connection.notes" name="notes" type="string" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="form form-row">
                        <div class="form-group col-3 margin-left-smallest">

                            <select class="btn btn-secondary">
                                <option class="dropdown-item" value="null">Office</option>
                                <option class="dropdown-item" *ngFor="let city of cities" value={{city.id}}>
                                    {{city.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group margin-left-small">
                            <select class="btn btn-secondary">
                                <option class="dropdown-item" value="null">Meeting Frequency</option>
                                <option class="dropdown-item" *ngFor="let frequency of frequencies" value={{frequency.id}}>
                                    {{frequency.name}}
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-4 margin-left-smallest">
                            <label for="inputAddress2"><strong>Date Last Contacted</strong></label>
                            <input type="datetime-local" class="form-control" id="inputAddress2" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="delete(person)" class="btn btn-success btn-sm margin-left-small"data-dismiss="modal">Delete</button>
                <button (click)="onSave()" type="submit" class="btn btn-success btn-sm margin-left-small" data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>